<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="CONNNEO" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=NEO_DB;Integrated Security=False;User ID=sa;Password=ss_password;" />
  </connectionStrings>
  <appSettings>
    <add key="EmailRecipients" value="alexhodge@leightonobrien.com"/>
    <add key="MonitorScripts" value="C:\\Users\\alexh\\Documents\\Logging"/>
    <add key="MonitorConfig" value="C:\\Users\\alexh\\Source\\Repos\\ProgramMonitor\\ProgramMonitor\\MonitorTasks.json"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISiraSystemService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://auae2/Services.Sira.WcfHost.Hosting/SiraSystemService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISiraSystemService"
                contract="SIRA.ISiraSystemService" name="BasicHttpBinding_ISiraSystemService" />
        </client>
    </system.serviceModel>
</configuration>